# Dependências
node_modules/
**/node_modules/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Builds
dist/
build/
**/build/

# Testes
coverage/